.ui-board-theme-green cg-board {
  background-color: var(--color-board-theme-green-light);
  background-image: repeating-conic-gradient(
    var(--color-board-theme-green-dark) 0% 25%,
    var(--color-board-theme-green-light) 25% 50%
  );
  background-size: 25% 25%;
}
