.ui-board-theme-gray cg-board {
  background-color: var(--color-board-theme-gray-light);
  background-image: repeating-conic-gradient(
    var(--color-board-theme-gray-dark) 0% 25%,
    var(--color-board-theme-gray-light) 25% 50%
  );
  background-size: 25% 25%;
}
